// Variables
$accent-pakistan-green         : #0a6e0a;
$accent-spanish-green          : #27873f;
$quade-gold                    : #BE9101;
$quade-gold-gradient           : linear-gradient(45deg, #BE9101, #D7A603);
$accent-spanish-green-selection: rgba(39, 135, 63, .1);
$accent-spanish-green-faq-qm   : rgba(39, 135, 63, .2);
$box-shadow-spanish-green      : 0 5px 10px rgba(39, 135, 63, 0.4);
$hero-gradient-sm              : linear-gradient(90deg, black, transparent);
$hero-gradient                 : linear-gradient(45deg, black, dimgrey 110%);
$feature-cards-gradient        : linear-gradient(45deg, $accent-pakistan-green 0, $accent-spanish-green 100%);
$max-width-md                  : 767px;
$min-width-md                  : 768px;
$global-transition             : all .3s ease;

div,
a,
i {
	transition: $global-transition;
}

// Text Selection
::selection {
	color     : $accent-spanish-green;
	background: $accent-spanish-green-selection;
	color     : black;
}

// Icons
.fas,
.far {
	color: $accent-spanish-green;
}

i {
	&.text-alternate,
	&.far.fa-arrow-alt-circle-down {
		color: black !important;
	}
}


// Accents
a,
.accent {
	color: $accent-spanish-green;

	&:hover {
		color: $accent-pakistan-green;
	}
}

.text-primary {
	color: $accent-spanish-green !important;
}

.text-alternate {
	color  : $accent-pakistan-green !important;
	opacity: .8;
}

a.text-contrast {

	&:hover,
	&:focus {
		color: white !important;
	}
}

// Hero Gradient
.gradient.gradient-primary-auxiliary {
	background-image: $hero-gradient;
}

// Feature Cards
.gradient.gradient-primary-light {
	// background-image: $feature-cards-gradient;
	background: black;

	&:hover {
		background: $feature-cards-gradient;
	}
}

// Nav BG
.static-shape.ghost-shape.ghost-shape-1 {
	background-color: dimgrey;
}

// Nav
.navigation .navbar-toggler .icon-bar {
	background-color: $accent-spanish-green;
}

.navigation .nav-link {
	color: $accent-spanish-green;
}

// Animated Shapes/Icons
.alter3-header .animation-shape.shape-ring div {
	border : 5px solid $accent-pakistan-green;
	opacity: .8;
}

.alter3-header .animation-shape.shape-diamond div {
	border-bottom-color: $accent-spanish-green;

	&:after {
		border-top-color: $accent-spanish-green;
	}
}

.alter3-features .shape-circle div {
	background: $accent-pakistan-green;
	opacity   : .7;
}

.powered-design .shape-ring div {
	border : 5px solid $accent-spanish-green;
	opacity: .8;
}

// Quade Media Section
.features-cant-miss {
	.shapes-container {
		.shape.shape-circle div {
			background: $quade-gold-gradient;
		}

		.shape-triangle div {
			background: $quade-gold-gradient;
		}
	}

	i.mx-auto.mr-md-3.mx-auto.mr-md-3.accent.pe {
		color: $quade-gold;
	}

	.heading-line::after {
		background-color: $quade-gold;
	}
}

// Heading Underscore
.heading-line:after {
	background-color: $accent-pakistan-green;
}

// Buttons
.btn-outline-primary,
.btn-outline-dark,
.btn-outline-alternate,
.btn-contrast {
	color       : black;
	border-color: black;

	&:hover {
		color           : white;
		background-color: $accent-spanish-green;
		border-color    : $accent-pakistan-green;
	}
}

.btn-primary,
.btn-alternate {
	background-color: black;
	border-color    : black;

	&:hover {
		color           : white !important;
		background-color: $accent-spanish-green;
		border-color    : $accent-pakistan-green;
		box-shadow      : $box-shadow-spanish-green !important;
	}
}

// FAQ
.faqs-dd {
	i.fas.fa-question {
		color: $accent-spanish-green-faq-qm;
	}

	.card-title {
		color  : $accent-spanish-green;
		opacity: .7;

		&.collapsed {
			color  : black;
			opacity: 1;
		}
	}
}

.bg-dark.edge.top-left::before {
	z-index: -1;
}

.why-choose-us .shape-pipes {
	background-color: gainsboro;
	opacity         : .3;

	&:before {
		background-color: gainsboro;
		opacity         : .5;
	}

	&:after {
		background-color: $accent-spanish-green;
		opacity         : .4;
	}
}

// Media Queries
@media (min-width: $min-width-md) {
	.navigation {
		&.fixed-top .nav-link {
			color: white;

			&:hover {
				color: lightgray;
			}
		}

		&.navbar-sticky .nav-link {
			color: black;

			&:hover {
				color: $accent-spanish-green;
			}
		}
	}

	h1.extra-bold.display-md-3.font-md {
		font-size: 3rem !important;
	}

	// Quademedia Heading Line
	.text-center .heading-line:after {
		margin-left: 0;
	}
}

@media (max-width: $max-width-md) {

	.navigation .nav-link.active,
	.navigation .nav-link:hover {
		background: black;
	}

	.row.hero {
		background: $hero-gradient-sm;
		padding   : 1rem .5rem;
	}
}